/* Navbar */
.navbar {
	background: #bbbaba;
}

.navbar-brand {
	margin-left: 55px;
	font-weight: bold;
	font-size: 30px;
}

.icon-navbar {
	height: 30px;
	margin-top: 7px;
	margin-right: 60px;
}

/* Bagian tengah */
.col-2 {
	background: #5D5B5B;
	height: 100%;
}

.nav-link {
	margin-left: 10px;
}


/* Footer */
.footer {
	background-color: #5D5B5B;
}

.footer h6 {
	color: white;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-right: 25px;
}




@media (min-width: 576px) {}
